[ -f .env ] && dotenv

venv_dir=$HOME/.venvs/BackendChallenge

if [ -d "$venv_dir" ]; then
    echo "Virtualenv exists"
    venv_exists=1
else
    echo "Creating virtualenv to $venv_dir"
    venv_exists=0
    python3.7 -m venv $venv_dir
fi

source $venv_dir/bin/activate

if [ "$venv_exists" = 0 ]; then
    poetry install
fi

export CAR_CUTTER_FILE_STORE_BASE_DIR=$PWD/.tmp

unset PS1
